<div class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form (submit)="register()" class="box">
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="Email" name="email" [(ngModel)]="credentials.email" class="input"
                  required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input [(ngModel)]="credentials.password" name="password" type="password" placeholder="*******"
                  class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div *ngIf="response">
              {{response.message}}
            </div>
            <button type="submit" class="button is-primary is-fullwidth">Register</button>
            <a routerLink="/login">Login</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>