<app-navbar></app-navbar>
<div class="login-clean" style="background-color: #00d1b2;">
  <form (submit)="register()">
    <h2 class="sr-only">Register Form</h2>
    <h2 class="d-lg-flex justify-content-lg-center align-items-lg-center">Register</h2>
    <div class="illustration"><i class="icon ion-ios-navigate" style="color: #00d1b2;"></i></div>
    <div class="form-group"><input [(ngModel)]="credentials.email" class="form-control" type="email" name="email"
        placeholder="Email"></div>
    <div class="form-group"><input [(ngModel)]="credentials.password" class="form-control" type="password"
        name="password" placeholder="Password"></div>
    <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
        style="background-color: #00d1b2;">Register!</button>
      <div *ngIf="response">
        {{response.message}}
      </div>
      </div>
    <a routerLink="/login">Login</a>
  </form>
</div>